.control {
	display: block;
}

.control.flex { display: flex; }
.control.v { flex-direction: column; }
.control.fw, .control.f { width: 100%; }
.control.fh, .control.f { height: 100%; }

.control.bc { justify-content: center; align-items: flex-end; }
.control.tr { justify-content: flex-start; align-items: flex-end; }
.control.tl { justify-content: flex-start; align-items: flex-start; }

.control.f1 { flex: 1; }
.control.f125 { flex: 1.25; }

.control.m0, .control.cm0 * { margin: 0 !important; }

.control.w1 { width: 1em; }
.control.w06 { width: 0.6em; }

.control.input, .control.input * {
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

.control.link {
	color: var(--linkColor);
	text-decoration: none;
	background-image: linear-gradient(to right, var(--linkColor) 50%, var(--linkColor) 50%);
	background-repeat: no-repeat;
	background-position: 0 1.03em;
	background-size: 100% 0.1em;
	transition: background-size 0.2s;
}

.control.link:hover {
	background-size: 100% 0.3em;
}

.control.list > *:not(.divider) {
	padding: 0.3em 0.5em;
	background: rgba(var(--accentRGBA), 0);
	transition: background 0.1s;
	border-radius: 0;
}

.control.list > *:not(.divider):hover { background: rgba(var(--accentRGBA), 0.2); }
.control.list > *:not(.divider).focus { background: rgba(var(--accentRGBA), 0.2); }
.control.list.light > *:not(.divider):hover { background-color: rgba(255, 255, 255, 0.2); }
.control.list.light > *:not(.divider).focus { background-color: rgba(255, 255, 255, 0.2); }

.control.list.paralax > *:not(.divider):hover { background: rgba(var(--accentRGBA), 0.1); }
.control.list.paralax > *:not(.divider).focus { background: rgba(var(--accentRGBA), 0.2); }
.control.list.light.paralax > *:not(.divider):hover { background-color: rgba(255, 255, 255, 0.1); }
.control.list.light.paralax > *:not(.divider).focus { background-color: rgba(255, 255, 255, 0.2); }

.control.hlist {
	height: 100%;
}

.control.hlist > * {
	height: 100%;
	display: inline-flex;
	align-items: center;
	padding: 0 0.5em;
	background: rgba(var(--accentRGBA), 0);
	transition: background 0.1s;
	border-radius: 0;
}

.control.hlist > *:hover { background: rgba(var(--accentRGBA), 0.2); }
.control.hlist > *.focus { background: rgba(var(--accentRGBA), 0.2); }
.control.hlist.light > *:hover { background-color: rgba(255, 255, 255, 0.2); }
.control.hlist.light > *.focus { background-color: rgba(255, 255, 255, 0.2); }

.control.hlist.paralax > *:hover { background: rgba(var(--accentRGBA), 0.1); }
.control.hlist.paralax > *.focus { background: rgba(var(--accentRGBA), 0.2); }
.control.hlist.light.paralax > *:hover { background-color: rgba(255, 255, 255, 0.1); }
.control.hlist.light.paralax > *.focus { background-color: rgba(255, 255, 255, 0.2); }

.control.divider {
	width: calc(100% - 0.8em);
	height: 1px;
	margin: 0.2em 0.4em;
	background: var(--textColor);
	opacity: 0.5;
}

.control.splitter {
	width: 100%;
	height: 100%;
	display: flex;
}

.control.splitter-navbar { flex-direction: column; }

.control.splitter-navbar > *:nth-child(1) {
	flex: 0 0 1.8em;
	background: var(--accent);
	color: var(--textColor);
}

.control.splitter-navbar > *:nth-child(2) {
	flex: 1;
	overflow: auto;
}

.control.splitter-sidebar > *:nth-child(1) {
	height: 100%;
	overflow-y: scroll;
	flex: 0.3;
}

.control.splitter-sidebar > *:nth-child(2) {
	height: 100%;
	overflow-y: scroll;
	flex: 0.7;
}

.control.icongrid {
	padding: 1em;
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 2em) !important;
}

.control.icongrid-item {
	width: 4.2em;
	padding: 0.5em;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	transition: background 0.1s;
}

.control.icongrid-item:hover {
	background: rgba(var(--accentRGBA), 0.1);
}

.control.icongrid-item > *:nth-child(1) {
	width: 4em;
	height: 4em;
}

.control.icongrid-item > *:nth-child(2) {
	margin: 0;
	font-size: 0.8em;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.control.button {
	display: inline-block;
	transition: background 0.1s;
}

.button.button-small {
	width: 1.3em;
	height: 1.3em;
}

.control.panel.nav {
	display: flex;
	align-items: center;
}

.control.panel.nav > * {
	margin: 0 0.2em;
}
