body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

/* controls */

.control {

}

/* windows */

.app .window {
	position: absolute;
	width: 512px;
	height: 256px;
	background: #ddd;
	overflow: auto;
	resize: both;
}

.app .window-title {
	display: flex;
	width: calc(100% - 1em);
	height: 2em;
	padding: 0.5em;
	padding-bottom: 0;
}

.app .window-title-title {
	display: flex;
	flex: 0.5;
	font-size: 1em;
}

.app .window-title-buttons {
	display: flex;
	flex: 0.5;
	justify-content: right;
}

.app .window-title-buttons-close {
	height: 1.5em;
	width: 1.5em;
	background-color: rgba(255, 255, 255, 0);
	background-image: url("./img/close.png");
	background-size: contain;
	transition: background-color 0.1s;
}

.app .window-title-buttons-close:hover {
	background-color: rgba(255, 255, 255, 0.2)
}

.app .window-content {
	width: 100%;
	height: calc(100% - 3em);
	overflow: auto;
}

/* navigation layer */

.nav nav {
	width: 100vw;
	height: 40px;
	display: flex;
}

.nav nav * {
	margin: 0;
}

.nav nav .section {
	height: 100%;
	padding: 0 1vw;
	display: flex;
	align-items: center;
}

.nav nav .left {
	text-align: left;
	justify-content: left;
}

.nav nav .mid {
	text-align: left;
	flex: 1;
	justify-content: left;
}

.nav nav .right {
	text-align: right;
	justify-content: right;
}

/* containers and layers */

.odd-container,
.layer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

/* preloader */

.preloader-background {
	background: #1c1c1c;
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader-circle {
	width: 10%;
	padding-top: 10%;
	display: block;
	border-radius: 50%;
	border: 2em solid rgb(0, 255, 200);
	border-top: 2em solid rgb(255, 0, 132);
	border-left: 2em solid rgb(255, 0, 132);
	animation: preloader-animation 2s infinite linear;
}

@keyframes preloader-animation {
	from { transform: rotate(45deg); }
	to { transform: rotate(405deg); }
}
